html {
  font-size: 16px;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

/* General style */

.borderRB {
  border-style: solid;
  border-width: 0px 3px 3px 0px;
  border-color: #fbd34f;
  border-radius: 0px 0px 0px 0px;
  background-color: #0a0a0a;
  color: #fbd34f;
}

.borderRB:hover {
  border: 0;
  background-color: #fbd34f;
  color: #0a0a0a;
  transition: ease-in-out 500ms;
}

.borderRB:focus {
  outline: 0;
}

.link--footer {
  color: #0a0a0a;
  text-decoration: none;
}

.link--footer:hover {
  background: linear-gradient(180deg, transparent 40%, white 0);
}

.hidden {
  display: none;
}

.t1 {
  font-size: 3rem;
  font-weight: 600;
}

.t2 {
  font-size: 2rem;
  font-weight: 500;
}

.t3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.bg0a {
  background-color: #0a0a0a;
}

.bg33 {
  background-color: #333333;
}

.bg66 {
  background-color: #666666;
}

.bgGold {
  background-color: #fbd34f;
}

/* Specific style */

header,
footer,
main {
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 20vh;
  padding: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 70vh;
  color: white;
  padding-top: 2rem;
}

.buttonBox {
  display: flex;
  justify-content: center;
  min-height: 50px;
}

.button {
  display: flex;
  width: 20vw;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-size: 1.3rem;
}
.footerDiv {
  display: flex;
  width: 30vw;
  justify-content: center;
  align-items: center;
}

.footerDiv * {
  text-align: center;
}

/* Article */

article {
  padding: 2rem;
}

.formContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.formBox {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
  height: 2.5rem;
}

label {
  min-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
select {
  min-width: 30vw;
  text-align-last: center;
  font-size: 1.5rem;
}

.submitBtn {
  width: 100%;
  font-size: 1.5rem;
}

.resultDisplay {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
